.container{
    padding: 10px;
    color: white;
    width: 60%;
    background-color: rgb(102, 0, 5);
    border-radius: 10px;
}

.text-center{
    text-align: center;
}

.area{
    background-color: white;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    color: black;

    margin-bottom: 1.25rem;
}

.row{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.col{
    padding: 0 20px;
}

.col h3{
    color: rgb(102, 0, 5);
}

.buttons{
    padding: 20px 0;
}


.area-biglietto{
    display: none;
    background-color: white;
    width: 70%;
    margin: auto;
    color: black;
}

.nome{
    width: 30%;
    background-color: gray;
}

.col-small{
    width: 17.5%;
}

.ticket{
    display: flex;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}